<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>Using The Web As My New <a>PAINTBRUSH</a> <br /></h1>
            <ul class="actions">
            </ul>
        </div>
    </section>

<!-- One -->
    <article id="one" class="post style1">
        <div class="image" style="background-image: url('images/mont.jpg'); background-position: 75% center">
            <img src="images/mont.jpg" alt="" data-position="75% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2><a href="">About Me</a></h2>
                    <p class="info">Traveler - Artist - <a>Developer</a></p>
                </header>
                <p>Welcome! My name is Ryan Myers and I’m a Full Stack Developer. Since I was young I’ve had two passions. One was for art the other was for an intellectual challenge. I love to express ideas in different mediums and building my skill to produce wonderful art works. I was always dabbling in new forms of art and was interested in pushing the boundaries and understand of art. My second love which I realized later in life is that I enjoy a good challenge and need to be challenged mentally to stay dedicated. I realized this after I was a few years deep into a career path that would of lead me to be an architect and I decided to chase happiness now and redefine my current skills and passions into coding. With Full stack development, I’m able to push myself creatively and artistry in the medium of HTML and CSS and still give myself the challenge of making a site work completely from back end to front. With my new career choice I’m equipping myself with the proper knowledge of technologies and I want to pair this with the right colleagues to create and push what the internet can do!</p>
                <ul class="actions">
                </ul>
            </div>
            <div class="postnav">
                <a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
                <a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
        </div>
    </article>

<!-- Two -->
    <article id="two" class="post invert style1 alt">
        <div class="image" style="background-image: url('images/code.jpg'); background-position: 10% center">
            <img src="images/code.jpg" alt="" data-position="10% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2><a href="">Projects</a></h2>
                    <p class="info">Technologies used <a href="">MEAN (Javascript)</a> - <a href="">LAMP Stack</a> - <a href="">Ruby on Rails</a> - <a href="">Amazon Alexa</a></p>
                </header>
                <p>Putting my head together with various teams or side projects Ive developed by myself. This is a showcase of the possibilities of an idea coming to existance. Check back periodically for updates on projects and deployments.</p>
                <ul class="actions">
                    <li><a href="#!/projects" class="button alt">Show Projects</a></li>
                </ul>
            </div>
            <div class="postnav">
                <a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
                <a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
        </div>
    </article>

<!-- Three -->
    <article id="three" class="post style2">
        <div class="image"  style="background-image: url('images/skills.jpg'); background-position: 80% center">
            <img src="images/skills.jpg" alt="" data-position="80% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2><a href="">Skills</a></h2>
                    <p class="info">A list of my <a href="">SKILLS</a> and also technologies Im still learning.</p>
                </header>
                <p>"I don't know who you are. I don't know what you want. If you are looking for ransom I can tell you I don't have money, but what I do have are a very particular set of skills. Skills I have acquired over a very long career. Skills that make me a nightmare for projects like yours." — Liam Neeson, Taken (mostly till the end)</p>
                <ul class="actions">
                    <li><a href="#!/tech" class="button alt">Check the Skills</a></li>
                </ul>
            </div>
            <div class="postnav">
                <a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
                <a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
        </div>
    </article>

<!-- Four -->
    <article id="four" class="post invert style2 alt">
        <div class="image"  style="background-image: url('images/Contact.jpg'); background-position: 10% center">
            <img src="images/Contact.jpg" alt="" data-position="60% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2><a href="">Contact Me</a></h2>
                    <p class="info">Im always interested in hear ideas or just conversating about tech!</p>
                </header>
                <p><a href="https://drive.google.com/open?id=0B7gxvsKHNSacbXVxdTl6VVlGQVk">Download my Resume</a><br><a href="https://www.instagram.com/nextcolor/?hl=en">Follow me on Instgram</a><br><a href="https://www.linkedin.com/in/rymyers1/">Connect with me on Linkedin</a><br>Send me a email at <a href="">rymy1515@gmail.com</a></p>
                <ul class="actions">
                </ul>
            </div>
            <div class="postnav">
                <a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
                <a href="#five" class="next disabled"><span class="icon fa-chevron-down"></span></a>
            </div>
        </div>
    </article>
