<div id="main">
    <div class="inner">

    <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <a href="" class="image fit"><img src="images/cards.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Amazon Alexa - Four Kings</h3>
                    <p>A alexa app that brings people together via a old drinking game. Can be played with as 10 people. Alexa draws cards and tells instructions to group about what must be done for each card.</p>
                    <a href="" class="button fit" data-poptrox="">To Be Deployed</a>
                </div>
            </div>
            <h3>Multiple Projects in development and will be added soon.</h3>
        </div>

    </div>
</div>
