
<!-- Main -->
<section id="main">
    <div class="inner">
        <div class="image fit">
            <img src="images/web.jpg" alt="" />
        </div>
        <header>
            <h1>Technology I Know (And More To Come)</h1>
            <p class="info">Last updated <a href="">April 13, 2017</a></p>
        </header>
        <ul id="skills">
            <i class="devicon-html5-plain-wordmark colored"></i>
            <i class="devicon-css3-plain-wordmark colored"></i>
            <i class="devicon-jquery-plain-wordmark colored"></i>
            <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
            <i class="devicon-angularjs-plain colored"></i>
            <i class="devicon-atom-original colored"></i>
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-codeigniter-plain-wordmark colored"></i>
            <i class="devicon-github-plain-wordmark colored"></i>
            <i class="devicon-illustrator-line colored"></i>
            <i class="devicon-inkscape-plain-wordmark colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-mysql-plain-wordmark colored"></i>
            <i class="devicon-nodejs-plain-wordmark colored"></i>
            <i class="devicon-photoshop-line colored"></i>
            <i class="devicon-php-plain colored"></i>
            <i class="devicon-ruby-plain-wordmark colored"></i>
        </ul>

</div>
</section>
